{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Homepage des questionnaires</h1>
    <a href="/lister">GO ....</a>
    <h2>AJOUTER UN ETUDIANT</h2>
    <a href="/etudiant">Ajouter</a>
{% endblock %}

